        html
        {
            border: 0;
            margin: 0;
            padding: 0;
            font-size: 100%;
            vertical-align: baseline;
        }
        body
        {
            background-image: url("https://wallpapers.walldevil.com/wallpapers/w01/preview/433850-dark-landscapes-night-sky-skyline-space-stars.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: right top;
            background-size: cover;
        }
        .wrapper {
            line-height: 0;
            display: grid;
            grid-template-columns: 10% repeat(18, 1fr) 10%;
            grid-template-rows: 2fr repeat(13, 1fr) 2fr;
            border-collapse: collapse;
            border-spacing: 0;
            color: white;
        }
        .inner-object
        {
            /*background-color: rgb(249, 208, 216);*/
            border: 1px solid rgba(0, 0, 0, 0.1);
            text-align: center;
            color: rgba(255, 255, 255, 1);
            font-family: sans-serif;
        }
        .inner-object > h1 {
            margin: .25em 0 .25em 0;
            font-size: 2vh;
            font-style: bold;
        }
        .inner-object > h4 {
            padding: 0 0 .25em .25em;
            font-size: 1vh;
            text-align: left;
        } 
        .inner-object > h6 {
            padding: .25em .25em 0 0;
            font-size: 1vh;
            text-align: right;
        }
        .title {
            text-align: center;
            grid-row-start: 2;
            grid-row-end: 2;
            grid-column-start: 2;
            grid-column-end: 20;
        }
        .title > h1 {
            font-size: 8vh;
            color: white;
            font-family: sans-serif;
            font-style: italic;
        }
        .colorgreen
        {
           background-color: rgb(28, 169, 28);
        }
        .coloryellow
        {
            background-color: rgb(242, 235, 26);
            color: black;
        }
        .colorred
        {
            background-color: rgb(184, 49, 49);
        }
        .colorskyblue
        {
            background-color: rgb(22, 132, 175);
        }
        .colorpurple
        {
            background-color: rgb(128, 28, 128);
        }
        .colorlightbrown
        {
            background-color: rgb(133, 65, 65);
        }
        .colorweirdpurple
        {
            background-color: rgb(111, 62, 111);
        }
        .colorgrey
        {
            background-color: rgb(94, 94, 94);
        }
        .colorwhite
        {
            background-color: white;
            color: black;
        }
        .colororange
        {
            background-color: orangered;
        }
        .colorlightblue
        {
            background-color: rgb(169, 226, 249);
            color: black;
        }